sitcom/starTracker/findBoresight/notebooks/.ipynb_checkpoints/
starTracker/utility_notebooks/.ipynb_checkpoints/
starTracker/findBoresight/boresightUtils/__pycache__/
starTracker/findBoresight/notebooks/.ipynb_checkpoints/
starTracker/analysis/notebooks/.ipynb_checkpoints/
